body{
    margin: 0;
}
.donation-bannar{
    background-image:
    linear-gradient(to top,#121212 0%, rgba(18, 18, 18, 0) 100%),
    url('images/donation0.jpg');
    background-repeat: no-repeat;
    height: 650px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.donation-bannar h1{
    font-family: 'Inter', sans-serif;
    color: #fff;
    font-size: 65px;
    font-weight: 700px;
    margin: 0;

}
.donation-bannar p{
    font-family: 'Poppins', sans-serif;
    color: #fff;
    font-size: 18px;
    margin-top: 20px;
}
.donation-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    margin-bottom: 50px;
    text-align: center;
}
.donation-section h1{
    font-family: 'Inter', sans-serif;
    color: #121212;
    font-size: 50px;
    font-weight: 700px;
    margin: 0;
}
.donation-section p{
    font-family: 'Poppins', sans-serif;
    color: #707070;
    font-size: 18px;
    margin-top: 20px;
}
.single-amount{
    font-size: 30px;
    font-family: 'Inter', sans-serif;
    width: 120px;
    background-color: #FAFAFA;
    border-radius: 5px;
    margin: 20px 20px 20px 20px;
    text-align: center;
    padding: 0px 10px 0px 10px;
}
.single-amount h4{
    color: #707070;
}
.donate-amount{
    display: flex;
    margin-bottom: 50px;
    justify-content: center;
    align-items: center;
    
}
.single-amount-deafult{
    background-color: #FFEEEE;
    border-radius: 5px;
    border: 2px solid #FF5959;
    margin: 20px 20px 20px 20px;
    text-align: center;
    padding: 0px 10px 0px 10px;
}
.single-amount-deafult h4{
    color: #FF5959;
}
#type-amount{
    padding-bottom: 10px;
    font-family: 'Inter', sans-serif;
    color: #707070;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 40px;
    border: none;
    border-bottom: 1px solid #707070;
    text-align: center;
    width: 50%;
    
}
.link-button{
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    background-color: #FF5959;
    color: white;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
}
.donation-button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}
.donation-plan-texts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
.donation-plan-texts h1{
    font-family: 'Inter', sans-serif;
    color: #121212;
    font-size: 45px;
    font-weight: 700px;
    margin: 0;
}
.donation-plan-texts p{
    font-family: 'Poppins', sans-serif;
    color: #707070;
    font-size: 18px;
    margin-top: 20px;
    text-align: center;
}
#Donation-Plan{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 50px;
    margin-left: 10%;
    margin-right: 10%;
}
.Single-Donation-Plan img{
    height: 45;
    width: 45;
    padding-top: 10px;
    padding-left: 25px;
    padding-bottom: 10px;
}
.Single-Donation-Plan h4{
    font-family: 'Inter', sans-serif;
    color: #121212;
    font-size: 24px;
    font-weight: 600px;
    margin: 0;
    padding-top: 20px;
    padding-left: 25px;
}
.Single-Donation-Plan p{
    font-family: 'Poppins', sans-serif;
    color: #707070;
    font-size: 16px;
    margin-top: 20px;
    padding-left: 25px;
    padding-right: 25px;
}
.Single-Donation-Plan{
    height: 350px;
    width: 360px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.food{
    background-color: rgba(79, 157, 166, 0.1);
}
.shelter{
    background-color:rgba(255, 89, 89, 0.1);
}
.education{
    background-color: rgba(255, 244, 214, 1);
}
.update{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
.update h1{
    font-family: 'Inter', sans-serif;
    color: #121212;
    font-size: 45px;
    font-weight: 700px;
    margin: 0;
}
.update p{
    font-family: 'Poppins', sans-serif;
    color: #707070;
    font-size: 18px;
    margin-top: 20px;
    text-align: center;
}
.email{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 150px;
    padding-right: 150px;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 150px;
    background-color: rgba(255, 244, 214, 1);
    border-radius: 5px;
}
#type-email{
    padding-left: 10px;
    height: 42px;
    width: 275px;
    border: none;
    background-color: rgba(217, 217, 217, 1);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;

}
.subcribe-button{
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    background-color: #FF5959;
    height: 40px;
    color: white;
    font-size: 20px;
    padding: 10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-top: 20px;
}
footer{
    height: 177px;
    background-color: #0B0D17;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer h1{
    font-family: 'Lobster' , cursive;
    color: #FF5959;
    font-size: 30px;
}
footer p{
    font-family: monospace;
    color: #707070;
    font-size: 14px;
    margin-top: 20px;
}
