body{
    margin: 0;
}
.donation-bannar{
    background-image:
    linear-gradient(to top,#121212 0%, rgba(18, 18, 18, 0) 100%),
    url('images/donation0.jpg');
    background-repeat: no-repeat;
    height: 600px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.donation-bannar h1{
    font-family: 'Inter', sans-serif;
    color: #fff;
    font-size: 65px;
    font-weight: 700px;
    margin: 0;

}
.donation-bannar p{
    font-family: 'Poppins', sans-serif;
    color: #fff;
    font-size: 18px;
    margin-top: 20px;
}
.donation-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    margin-bottom: 50px;
    text-align: center;
}
.donation-section h1{
    font-family: 'Inter', sans-serif;
    color: #121212;
    font-size: 50px;
    font-weight: 700px;
    margin: 0;
}
.donation-section p{
    font-family: 'Poppins', sans-serif;
    color: #707070;
    font-size: 18px;
    margin-top: 20px;
}
.single-amount{
    font-size: 30px;
    font-family: 'Inter', sans-serif;
    width: 120px;
    background-color: #FAFAFA;
    border-radius: 5px;
    margin: 20px 20px 20px 20px;
    text-align: center;
    padding: 0px 10px 0px 10px;
}
.single-amount h4{
    color: #707070;
}
.donate-amount{
    display: flex;
    margin-bottom: 50px;
    justify-content: center;
    align-items: center;
    
}
.single-amount-deafult{
    background-color: #FFEEEE;
    border-radius: 5px;
    border: 2px solid #FF5959;
    margin: 20px 20px 20px 20px;
    text-align: center;
    padding: 0px 10px 0px 10px;
}
.single-amount-deafult h4{
    color: #FF5959;
}
#type-amount{
    font-family: 'Inter', sans-serif;
    color: #707070;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 40px;
    border: none;
    border-bottom: 1px solid #707070;
    text-align: center;
    width: 50%;
    
}
.link-button{
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    background-color: #FF5959;
    color: white;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
}
.donation-button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}